<!DOCTYPE html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>smartAppTravel</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=description content="A progressive webapp">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="https://digital.axa.com.my/travel-insurance-malaysia" />
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PWA">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <meta name="theme-color" content="#2F3BA2">
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
      <% include ../css/styles.css %>
    </style>
  </head>
  <body>
    <amp-install-serviceworker src="/sw.js"
      data-iframe-src="/"
      layout="nodisplay">
    </amp-install-serviceworker>
    <div id="content">
    <amp-img src="https://digital.axa.com.my/travel-insurance-malaysia/static/assets/images/1456143263.476251.jpg?v=e069ec0da425d81da6eea23051733e3f"
            alt="AXA Logo"
            height="35.03px"
            width="177px"></amp-img>

      <div class="quotation__container">
        <div class="tag-line">Tag line Here</div>
        <hr>
        <div class="quotation-form">
          <form method="GET" action-xhr="/price" action="/" target="_top" on="submit-success:my-lightbox.close">
            <div>
              <label>Departure Date</label>
              <input name="dstart" type="date">
            </div>
            <div>
              <label>Return Date</label>
              <input name="dstop" type="date">
            </div>
            <div>
              <label>Area of Destination</label>
              <select name="country" id="">
                <option value="A1">Area 1</option>
                <option value="A2">Area 2</option>
                <option value="A3">Area 3</option>
              </select>
            </div>
            <hr />
            <button type="submit" on="tap:my-lightbox">GET QUOTE</button>
            <div submit-success>
              <template type="amp-mustache">
                <amp-carousel height="200" layout="fixed-height" type="slides">
                  <div>
                    <a href="/payment-status">
                      <amp-img src="https://digital.axa.com.my/travel-insurance-malaysia/static/assets/images/1456143691.207359.jpg?v=f3d0ba67a5f3cdad726c05dfc2071da2"
                      alt="Premium Plan" height="180px" width="500px"></amp-img>
                    <div>BUY PLATINUM PLAN FOR RM {{ premium }}</div>
                    </a>
                  </div>
                  <div>
                    <a href="/payment-status">
                      <amp-img src="https://digital.axa.com.my/travel-insurance-malaysia/static/assets/images/1456143735.571441.jpg?v=2f3195a64940d77c1eb1e86b59477f4b"
                      alt="Regular Plan"  height="180px" width="500px"></amp-img>
                      <div>BUY GOLD PLAN FOR RM {{ regular }}</div>
                    </a>
                  </div>
                </amp-carousel>
              </template>
            </div>
            <div submit-error>
              <template type="amp-mustache">
                <div class="error">There are problems happen when requesting for the prices, we are sorry for the inconveniences, please try again</div>
              </template>
            </div>
          </form>
          <amp-lightbox id="my-lightbox" layout="nodisplay">
            <div class="lightbox" on="tap:my-lightbox.close" role="button" tabindex="0">
              <h1>Loading...</h1>
            </div>
          </amp-lightbox>
        </div>
      </div>
    </div>
  </body>
</html>
