<!DOCTYPE html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Axa Smart Traveller</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=description content="A progressive webapp">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="https://digital.axa.com.my/travel-insurance-malaysia" />
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" type="image/png" href="/images/icons/icon-48.png"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PWA">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <meta name="theme-color" content="#2F3BA2">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
      <% include ../css/styles.css %>
    </style>
  </head>
  <body>
    <div id="content">
          <div  class="col-xs-12 logo">
      <amp-img src="https://digital.axa.com.my/travel-insurance-malaysia/static/assets/images/1456143263.476251.jpg?v=e069ec0da425d81da6eea23051733e3f"
      alt="AXA Logo"
      height="35.03px"
      width="177px"></amp-img>
    </div>
      <div class="payment-success">
        <div>
          <div class="col-xs-12 summary-tx">
            <div class="summary-review__title"><span class="bold">Payment</span> Success</div>
            <div class="top-20 ">AXA wishes you a safe and pleasant trip</div>
            <div>In the event of emergency during your trip, please contact AXA Travel Assistance Hotline at 603 2142 0399, available 24 hours daily.</div>
        </div>

        <div class="summary-details col-xs-6">
          <span class="bold">Payment Status</span><br><span class="tx-green">Successful</span>
        </div>
          <div class="summary-details col-xs-6">
          <span class="bold">Transaction Number</span><br><span class="tx-green">000000123456</span>
        </div>
          <div class="summary-details col-xs-6">
          <span class="bold">Transaction Amount</span><br><span class="tx-green">RM 269</span>
        </div>
          <div class="summary-details col-xs-6">
          <span class="bold">Transaction Date and Time</span><br><span class="tx-green">6/6/2017</span>
        </div>
        <div class="col-xs-12 summary-details"><span class="bold ">Important!</span> <br> Your policy number and policy schedule will be sent to your email in two working days.</div>

        <div class="col-xs-12 summary-details">If you didn't receive your policy, kindly write to <a href="mailto:customer.service@axa.com.my">customer.service@axa.com.my</a> or call our <strong>24/7 hotline at <span class="tx-red">603 - 2142 0399 </span></strong>and use your transaction number as reference.</div>
      </div>
      </div>
    </div>
  </body>
</html>
